html, body{
    padding: 0;
    height: 100%;
}
body{
    display: flex;
 
}
button{
    background-color: rgb(250, 243, 249);
    width: 90px;
    height: 30px;
    border:  rgb(230, 196, 214);
    color: rgb(0, 0, 0);
    font-weight: bolder;
   
}
form{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 40px;
    border-radius: 10px;
    background-color:   deeppink;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image:  rgb(250, 17, 141);
 
}
/* #center{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} */
 
#botao{
    border-radius: 10px;
 
}